<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Univer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/news">Новини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/faculties">Факультети</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about">Про нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/contacts">Контакти</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href=""><i class="bi bi-person-fill"></i> {{ user.first_name }} {{ user.last_name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">Вихід</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">Реєстрація</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="">Вхід</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>